<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   DefaultPreferences.plist
   news app

   Created by 李希昂 on 2017/5/25.
   Copyright (c) 2017年 李希昂. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
